<div style="display:flex; min-height:-webkit-fill-available" class="component_background">
    <div id="manager_grid">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-success">
                    <div class="panel-heading">Config panel</div>
                    <div class="panel-body">
                        <ul class="list-group">
                              <li class="list-group-item" *ngFor="let configTab of configTabs"
                                  (click)="onTabSelect(configTab)"
                                  [class.selected] = "configTab == selectedTab"  >
                                  <span class="project_name">{{configTab}}</span>
                              </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="report_grid">
    <div class="">
    <div class="">
    <div class="panel panel-success">

        <div class="panel-heading">Config dashboard</div>
        <div class="panel-body">
            <div *ngIf="showUsersFlag" class="container-fluid">
                <div>
                    <form class="navbar-form form-inline" [formGroup]="addUserForm" (ngSubmit)="addNewUser(addUserForm)" style="display:block; padding:0px 0px; margin-top: 0px">
                        <div class="form-group" style="margin-bottom: 10px">
                            <input type="text" class="form-control" style="width: 34%;font-style:normal" formControlName="useremeil" placeholder="user@comp.com">

                            <input type="text" class="form-control" style="width: 28%;font-style:normal" formControlName="username" placeholder="Full Name">

                            <select class="form-control" style="width: 20%; font-family: 'Raleway'!important" formControlName="userrole">
                                <option value="" disabled selected>Role</option>
                                <option>ADMIN</option>
                                <option>LEAD</option>
                                <option>MANAGER</option>
                                <option>REPORTER</option>
                            </select>

                            <input type="text" class="form-control" style="width: 16%;font-style:normal" formControlName="userpassword" placeholder="Password" >

                        </div>
                        <div class="text-danger" style="height:20px">
                            <div style="display: inline-block; width:34%">
                            <div *ngIf="addUserForm.controls['useremeil'].touched && !addUserForm.controls['useremeil'].valid">
                                <span *ngIf="addUserForm.controls['useremeil'].hasError('required') ">Email is required</span>
                                <span *ngIf="addUserForm.controls['useremeil'].hasError('invalidEmail')">Email is invalid</span>
                            </div>
                            </div>
                            <div style="display: inline-block; width:28%">
                            <div *ngIf="addUserForm.controls['username'].touched && !addUserForm.controls['username'].valid">
                                <span *ngIf="addUserForm.controls['username'].hasError('required') ">Full name is required</span>
                            </div>
                            </div>
                            <div style="display: inline-block; width:20%">
                            <div *ngIf="addUserForm.controls['userrole'].touched && !addUserForm.controls['userrole'].valid">
                                <span *ngIf="addUserForm.controls['userrole'].hasError('required')">Role is required</span>
                            </div>
                            </div>
                            <div style="display: inline-block; width:16%">
                            <div *ngIf="addUserForm.controls['userpassword'].touched && !addUserForm.controls['userpassword'].valid">
                                <span *ngIf="addUserForm.controls['userpassword'].hasError('required') ">Required</span>
                            </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default" style="margin-top: 5px"  [disabled]="addUserForm.pristine||!addUserForm.valid">
                            <span class="glyphicon glyphicon-plus" style="color:#63B175; margin-right:5px" aria-hidden="true"></span>Add User
                        </button>
                    </form>
                </div>
                <div style="margin-top:-20px">
                    <h2 class="sub-header">Users list</h2>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>User Id</th>
                            <th>Full Name</th>
                            <th>Role</th>
                            <th style="max-width:40px">Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let user of users; let i = index" >
                            <td>{{i+1}}</td>
                            <td>{{user.id}}</td>
                            <td>{{user.fullName}}</td>
                            <td>{{user.profile}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Remove" (click)="onRemoveUser(user.id)">
                                    <span style="color:red" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                                <!--<button type="button" class="btn btn-default" aria-label="Update">-->
                                    <!--<span style="color:grey" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>-->
                                <!--</button>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div *ngIf="showProjectsFlag" class="container-fluid">
                <div>
                    <form class="navbar-form form-inline" role="search" [formGroup]="addProjectForm" (ngSubmit)="addNewProject(addProjectForm)" style="display:block; padding:0px 0px; margin-top: 0px">
                        <div class="form-group" style="margin-bottom: 10px">
                            <input type="text" class="form-control" style="width: 20%;font-style:normal" formControlName="projectname" placeholder="Project Name">
                            <select type="text" class="form-control" style="width: 26%;font-family:'Raleway'!important" formControlName="manager">
                                <option value="" disabled selected>Manager</option>
                                <option *ngFor="let managerEmail of managersEmails">{{managerEmail}}</option>
                            </select>
                            <select type="text" class="form-control" style="width: 26%;font-family:'Raleway'!important" formControlName="teamlead">
                                <option value="" disabled selected>Teamlead</option>
                                <option *ngFor="let leadEmail of leadsEmails">{{leadEmail}}</option>
                            </select>
                            <select type="text" class="form-control" style="width: 26%;font-family:'Raleway'!important" formControlName="reporter">
                                <option value="" disabled selected>Reporter</option>
                                <option *ngFor="let reporterEmail of reportersEmails">{{reporterEmail}}</option>
                            </select>
                        </div>
                        <div class="text-danger" style="height:20px">
                            <div style="display: inline-block; width:20%">
                                <div *ngIf="addProjectForm.controls['projectname'].touched && !addProjectForm.controls['projectname'].valid">
                                    <span *ngIf="addProjectForm.controls['projectname'].hasError('required') ">Name is required</span>
                                </div>
                            </div>
                            <div style="display: inline-block; width:26%">
                                <div *ngIf="addProjectForm.controls['manager'].touched && !addProjectForm.controls['manager'].valid">
                                    <span *ngIf="addProjectForm.controls['manager'].hasError('required') ">Manager is required</span>
                                </div>
                            </div>
                            <div style="display: inline-block; width:26%">
                                <div *ngIf="addProjectForm.controls['teamlead'].touched && !addProjectForm.controls['teamlead'].valid">
                                    <span *ngIf="addProjectForm.controls['teamlead'].hasError('required')">Teamlead is required</span>
                                </div>
                            </div>
                            <div style="display: inline-block; width:26%">
                                <div *ngIf="addProjectForm.controls['reporter'].touched && !addProjectForm.controls['reporter'].valid">
                                    <span *ngIf="addProjectForm.controls['reporter'].hasError('required') ">Reporter is required</span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default" style="margin-top: 5px" [disabled]="addProjectForm.pristine||!addProjectForm.valid">
                            <span class="glyphicon glyphicon-plus" style="color:#63B175; margin-right:5px" aria-hidden="true"></span>Add Project
                        </button>
                    </form>
                </div>
                <div style="margin-top:-20px">
                    <h2 class="sub-header">Projects list</h2>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Manager</th>
                            <th>TeamLead</th>
                            <th>Reporter</th>
                            <th>State</th>
                            <th>Time</th>
                            <th style="max-width:40px">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let project of projects">
                            <td>{{project.projectId}}</td>
                            <td>{{project.projectName}}</td>
                            <td>{{project.manager.fullName}}</td>
                            <td>{{project.teamLeader.fullName}}</td>
                            <td>{{project.reporter.fullName}}</td>
                            <td>{{project.state}}</td>
                            <td>{{project.stateDate | date:'fullDate'}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="alert" (click)="onRemoveProject(project.projectId)">
                                    <span style="color:red" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                                <!--<button type="button" class="btn btn-default" aria-label="Update">-->
                                    <!--<span style="color:grey" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>-->
                                <!--</button>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div *ngIf="showPropsFlag" class="container-fluid">
                <div style="margin-top:-20px">
                    <h2 class="sub-header">Properties list</h2>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Property Name</th>
                            <th>Property Value</th>
                            <th style="max-width:40px">Update</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>managerEmail</td>
                            <td>{{properties.managerEmail}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Update">
                                    <span style="color:grey" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>adminEmail</td>
                            <td>{{properties.adminEmail}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Update">
                                    <span style="color:grey" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>jobNotificationTitle</td>
                            <td>{{properties.jobNotificationTitle}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Update">
                                    <span style="color:grey" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>updateJobMessage</td>
                            <td>{{properties.updateJobMessage}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Update">
                                    <span style="color:grey" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>checkJobMessage</td>
                            <td>{{properties.checkJobMessage}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Update">
                                    <span style="color:grey" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>checkJobTime</td>
                            <td>{{properties.checkJobTime}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Update">
                                    <span style="color:grey" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>resetStateTime</td>
                            <td>{{properties.resetStateTime}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Update">
                                    <span style="color:grey" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>auth</td>
                            <td>{{properties.auth}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Update">
                                    <span style="color:grey" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>debug</td>
                            <td>{{properties.debug}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Update">
                                    <span style="color:grey" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>host</td>
                            <td>{{properties.host}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Update">
                                    <span style="color:grey" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>port</td>
                            <td>{{properties.port}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Update">
                                    <span style="color:grey" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>protocol</td>
                            <td>{{properties.protocol}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Update">
                                    <span style="color:grey" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>starttls</td>
                            <td>{{properties.starttls}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Update">
                                    <span style="color:grey" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div *ngIf="showLogsFlag" class="container-fluid">
                <div style="display: inline-block; margin-top:-8px; margin-left:-15px">
                    <!--<form class="" role="search">-->
                        <!--<div class="">-->
                            <!--<input type="text" class="" placeholder="Search">-->
                        <!--</div>-->
                        <!--<button type="submit" class="btn btn-default">Submit</button>-->
                    <!--</form>-->
                </div>
                <div style="margin-top:-20px">
                    <h2 class="sub-header" style="color: red">Page is under construction!</h2>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
    </div>
</div>
