.grid_block{
    text-align:left;
    margin-bottom:20px;
}

label{
    display:block;
    float:left;
    font-weight:normal;
}

ag-grid-ng2 {
    position: relative;
    width: 100%;
    height: 130px;
}

