.component_background{
    background-color: white;
    padding: 40px;
}

form{
    display:flex;
}

#report_grid {
    width:80%;
}

#manager_grid{
    width: 250px;
    display: inline-block;
    margin-right: 40px;
}

.col-sm-3{
    width:100%;
}

.panel-heading {
    background-color:#63B175;
    color:white;
    font-weight:600;
}

.panel-body{
    font-weight: 600;
    text-align: left;
    border-color: black;
    border-style: solid;
    border: 1px;
}

label{
    display:block;
    float:left;
    font-weight:600;
    width:100%;
    margin-bottom:0 !important;
    background-color: rgb(240, 240, 252);
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
}

#review_label{
    border-top: 1px solid #d1d1d1;
}

.buttons_bar{
    margin-top: 10px;
}

.btn-default{
    float:right;
    background-color:rgb(240, 240, 252);
}

#manager_save_button, #load_prev_button{
    margin-left:10px;
}

#manager_report_block {
    -webkit-animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}