.component_background{
    background-color: white;
    padding: 40px;
}

form{
    display:flex;
}

#report_grid {
    width:80%;
}

#manager_grid{
    width: 250px;
    display: inline-block;
    margin-right: 40px;
}

.col-sm-3{
    width:100%;
}

.aggregate_button_wrapper{
    height: 34px;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.panel-heading {
    background-color:#63B175;
    color:white;
    font-weight:600;
}

.panel-body{
    font-weight: 600;
    text-align: left;
    border-color: black;
    border-style: solid;
    border: 1px;
}

.selectedProjectName{
    text-align: center;
}

.text_area_model{
    width:100%;
}

label{
    display:block;
    float:left;
    font-weight:600;
    width:100%;
}

textarea{
    width:100% !important;
    margin-bottom:10px;
    padding:4px 0px 4px 0px;
    min-height:110px;
    border:1px solid rgb(221, 221, 221);
    font-size:13px;
    font-family:Raleway !important;
}

.aggregated_report_block{
    width:100%;
}

.aggregated{
    font-size:14px;
    font-weight:500;
    line-height:1;
    min-height:410px;
    background-color:white;
}

.btn-default{
    float:right;
    background-color:lavender; /*lavenderblush*/
}

#manager_save_button, #load_prev_button{
    margin-left:10px;
}