<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>Reportum</title>
    <link rel="icon" type="image/x-icon" href="../../static/dist/images/favicon.ico">

    <link rel="stylesheet" href="/static/dist/css/bootstrap/bootstrap.min.css" >
    <link rel="stylesheet" href="/static/dist/css/ng2-toasty/style-bootstrap.css" >
    <link rel="stylesheet" href="/static/dist/css/necolas/normalize.css" >
</head>

<body style="background-color: #EFEFEF">
    <app>Loading...</app>

    <script src="/static/dist/libs/shim.min.js"></script>
    <script src="/static/dist/libs/zone.js"></script>
    <script src="/static/dist/libs/ckeditor/ckeditor.js"></script>
    <script src="/static/dist/bundle.js"></script>
</body>

</html>
