.component_background{
    background-color: white;
    padding: 40px;
}

form{
    display:flex;
}

#report_grid {
    width:80%;
}

#manager_grid{
    width: 250px;
    display: inline-block;
    margin-right: 40px;
}

.col-sm-3{
    width:100%;
}

.aggregate_button_wrapper{
    height: 34px;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.panel-heading {
    background-color:#63B175;
    color:white;
    font-weight:600;
}

.panel-body{
    font-weight: 600;
    text-align: left;
    border-color: black;
    border-style: solid;
    border: 1px;
}

label{
    display:block;
    float:left;
    font-weight:600;
    width:100%;
    margin-bottom:0 !important;
    background-color: rgb(240, 240, 252);
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
}

#review_label{
    border-top: 1px solid #d1d1d1;
}

.buttons_bar{
    margin-top: 10px;
}

.aggregated_report_block{
    width:100%;
}

#manager_save_button, #manager_approve_button, #load_prev_button{
    margin-left:10px;
}

.aggregated{
    font-size:14px;
    font-weight:500;
    line-height:1;
    min-height:410px;
    background-color:white;
    margin-top: -5px;
}

.btn-default{
    float:right;
    background-color:rgb(240, 240, 252);
}

#review_label{
    border-top: 1px solid #d1d1d1;
}
.spin_container{
    display:inline-flex;
    width: 100%;
    height: 410px;
}

.spinner {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #63B175;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#manager_report_block, .ckeditors, .aggregated_report_block {
    -webkit-animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}