li{
    border: 1px solid;
}

.selected {
    background-color: rgb(240, 240, 252) !important;
    color: #607D8B;
}

li.selected:hover {
    background-color: grey !important;
    color: white;
}

li:hover {
    color: #607D8B;
    background-color: #EEE;
    left: .1em;
}

span.project_name{
    display: inline-block;
    width: 100px;
}

div.project_state_wrapper{
    display: inline-block;
    float: right;
    color:white;
  /* background-color: rgba(39,194,76,0.7);*/
    border-radius: 4px;
    font-size: 12px;
}

div.project_state{
    padding: 2px 8px;
}