<div class="header--menu">
  <ul class="nav--menu">
      <li class="nav--logo">
          <a [routerLink]="['/reporter']"><img src="../static/images/logo.png"></a>
      </li>
      <li class="nav--menu_item">
          <a class="nav--menu_item_anchor" [routerLink]="['/reporter']">Reporter</a>
      </li>
      <li class="nav--menu_item">
          <a class="nav--menu_item_anchor" [routerLink]="['/manager']">Manager</a>
      </li>
  </ul>
</div>
<div class="container">
  <div id="content" class="clearfix">
    <router-outlet></router-outlet>
  </div>
</div>
