@import url(https://fonts.googleapis.com/css?family=Raleway:600,700,100,200,300,400);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300);

*{
  font-size:100%;
  font-family:'Raleway'!important;
}

.header--menu {
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.nav--menu{
  display:inline-flex;
  justify-content:center;
  align-items:center;
  width:100%;
  margin-bottom:0px;
  background:#63B175;
  padding-left:  calc(50vw - 560px);
  padding-right: calc(50vw - 560px);
}

.nav--logo{
  list-style:none;
  width:70%;
}

.nav--menu_item{
  display: block;
}

.nav--menu_item_anchor{
  display: block;
  height: 70px;
  padding: 25px;
  color: #ffffff !important;
  text-decoration: none !important;
  font-weight: 600;
  line-height: 1;
  font-size:18px;
}

.nav--menu_item_anchor:hover,
.dropdown--item_anchor_active{
  background: #535353;
}

.container {
  width:100%;
  padding-left:  calc(50vw - 565px)!important;
  padding-right: calc(50vw - 565px)!important;
  padding-top: 70px;
}

#content {
  background-color:#fff!important;
  padding: 40px 40px 210px;
  text-align: -webkit-center;
}






